a{
	text-decoration: none;
}
html{
	font-size:16px;
}
::selection{background: #59d6ff; color: white;}
::-moz-selection{background: #59d6ff; color: white;}
body{
	margin: 0px;
	background-color: gray;
}
#logo{
	width: 39%;
	float: left;
	font-size: 1.5rem;
	font-family:Sans-serif;
	margin-top: 2rem;
}
#nav{
	float:right;
	width: 60%;
}

header{
	min-height: 100px;
	overflow: hidden;
	width: 94%;
	margin-left: 3%;
	color:white;
}
header a{
	color: white;
}
header ul{
	margin: 0px;
	padding: 0px;
	float: right;
}
header ul li{
	list-style:none;
	float: left;

	margin: 2rem 0.3rem 0px 0.3rem;
	font-size: 1.5rem;
	font-family:Sans-serif;
	transition:all 0.3s;
	font-weight: 200;
}
header ul li:hover{
	border-bottom: 0.1rem solid white;
	color: white;
}

@media screen and (max-width: 480px) {
	#logo{
		margin: auto;
		width: 30%;
		float: none;
	}
	#nav{
		float: none;
		width: auto;
		margin: auto;
		height: auto;
	}
	header ul{
		float: none;
		margin: auto;
		width: auto;
		height: 2rem;
	}
	header ul li{
		list-style:none;
		float: left;
		margin: 2rem 0.3rem 0px 0.4rem;
		font-size: 1.5rem;
		font-family:Sans-serif;
		transition:all 0.3s;
		font-weight: 200;
	}
	header ul li:hover{
		border-bottom: 0.1rem solid white;
		color: white;
	}
}
